html {
    scroll-behavior: smooth;
}
    
body {
    margin: 0%;
    opacity: 1;
    transition: 3s opacity;
    letter-spacing: .2vw;
    font-family: ;
    font-size: 1.5vw;
}

body.fade-out {
    opacity: .1;
    transition: none;
}

/* NAVBAR */
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

.navbar a {
    float: left;
    display: block;
    color: grey;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family: "Copperplate", Century Gothic, Goudy Old Style;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    -webkit-animation: movenavText 5.75s;
    animation: 5.75s;
    letter-spacing: .2vw;
}

@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

@keyframes movenavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

@keyframes movevideoText {
    from {top: -100vw;}
    to {top: 0px;}
}

.navbar a:hover {
    background-color: darkred;
    color: black;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.navbar a.active {
    background-color: grey;
    color: black;
}

.navbar a.active:hover {
    background-color: whitesmoke;
    font-weight: normal;
    color: black;
    cursor: pointer;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1.5,1.5);
    }
    100% {
        transform: scale(1,1);
    }
}

/* VIDEO */
#video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    animation: zoominoutsinglefeatured 5s;
}

.video_text {
    background: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    width: 100%;
    padding-top: .1vh;
    padding-bottom: 1vh;
    position: relative;
    -webkit-animation: moveNav 4s;
    animation: movevideoText 4s;
}

/* SLIDESHOW */
#slideshow_background {
    background: rgba(255,255,255, 0.35);
}

.mySlides {
    display: none;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#slideshow_container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

.slide_show_images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
    width: auto;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    margin-top: -0vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: whitesmoke;
}

.text {
    color: whitesmoke;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0,0,0,0.75);
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
}

.slide_number {
    color: whitesmoke;
    position: absolute;
    top: 0;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: whitesmoke;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    z-index: 1;
}

.active, .dot:hover {
    background-color: black;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* TABLE */
* {
    box-sizing: border-box;
}

.about_column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 1200px;
    background-color: rgba(0, 0, 0, 0.5);
}

.about_column_1 {
    border: 5px solid dimgrey;
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 1200px;
    background-color: darkred; 
}

.column_1 {
    border: 5px solid dimgrey;
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 400px;
    background-color: darkred;
}

.column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* TEXT ELEMENTS */
h1 {
    text-transform: uppercase;
    font-family: Century Gothic, Optima;
    text-align: center;
    margin-top: 3%;
    color: grey;
}

p {
    display: block;
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    color: darkgrey;
    background-color: darkred;
}
center {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: center;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

a {
    color: royalblue;
}

q {
    font-style: italic;
    font-weight: bold;
}

/* IMAGE ELEMENTS */
.about_column_2 img {
    height: 70%;
    width: 75%;
    margin-top: 70px;
}

img {
    filter: grayscale(100%) blur(3px);
    border-radius: 8px;
    max-width: 100%;
    height: 100%;
    margin: auto auto auto auto;
    display: block;
}

/* CONTACT FORM */
@keyframes movePopup {
    from {right: -40vw;}
    to {bottom: 1.75vw;}
}

.pop_up_button {
    font-size: 1vw;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;  
    background-color: black;
    color: grey;
    border: solid;
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

.form-popup {
    border: 3px solid silver;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

.form-container {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Century Gothic, Optima;
    max-width: 49vw;
    padding: 9px;
}

.form-container h1 {
    color: whitesmoke;
}
  
.form-container label {
    color: whitesmoke;
    font-size: larger;
}

.form-container input[type=text] {
    background-color: lightgray;
    color: black;
    font-size: large;
    width: 100%;
    padding: .93vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: .6vw 0 .6vw 0;
    resize: vertical;
    font-family: Perpetua, Rockwell Extra Bold;
}

.form-container .btn {
    background-color: black;
    color: grey;
    border-color: whitesmoke;
}

.form-container .cancel {
    background-color: black;
    color: grey;
    border-color: whitesmoke;
}

button {
    font-size: 1vw;
    font-weight: bold;
    padding: 1.5vw 1.5vw;
    border-style: solid;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw;
    width: 75%;
    height: auto;
}

.form-container h1:hover {
    color: whitesmoke;
    font-weight: normal;
}

button:hover {
    background-color: whitesmoke;
    color: black;
    border-color: black;
    font-weight: bold;
    border-style: solid;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.form-container .btn:hover {
    background-color:darkred;
    color: black;
    border-color: black;
    font-weight: bold;
    border-style: solid;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.form-container .cancel:hover {
    color: black;
    background-color: whitesmoke;
    border-color: black;
    font-weight: bold;
    border-style: solid;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

/* TEXT & IMAGE HOVER EFFECTS */
center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

p:hover {
    color: whitesmoke;
    transition: transform 1s;
    transform: scale(1.01);
}

h1:hover {
    color: black;
    font-weight: normal;
}

img:hover {
    filter: grayscale(0) blur(0);
    transition: transform 1s;
    transform: scale(1.1);
}

/* FOOTER */
footer {
    color: whitesmoke;
    padding: 2%;
    background-color: black;
}